#canvas {
    position: fixed;
    right: 5%;
    bottom: 5%;
    width: 15vmin;  /* 뷰포트 최소 길이에 따른 크기 설정 */
    height: 15vmin; /* 너비와 높이를 같게 설정 */
    border-radius: 50%; /* 원형 만들기 */
    overflow: hidden; /* 내부 내용이 원형을 벗어나지 않도록 설정 */
}

